<br>
<br>
<br>
<div class="siimple-box siimple-box--white center">
<h1>New Review</h1>
<form (ngSubmit)="newReviewPost(myForm)" #myForm="ngForm">
  <label class="siimple-label">Rating:</label><br>
    <input type="number" class="siimple-input siimple-input--fluid" name="rating" [(ngModel)]="rating" required />
  <label class="siimple-label">Comment:</label><br>
    <input type="text" class="siimple-input siimple-input--fluid" name="text" [(ngModel)]="text" required />
    <br>
    <br>
<button type="submit" class="siimple-btn siimple-btn--yellow"> New review </button>
</form>
<br><br>
</div>
