<nav >
  <div>
    <a routerLink="/" class="brand-logo"><img id ="logo"src="../assets/vansandroseslogo.png" alt=""></a>
    <ul *ngIf="!user"  class="right hide-on-med-and-down">

      <li><a [routerLink]="['/login']">Log in</a></li>
    </ul>
    <ul *ngIf="user"  class="right hide-on-med-and-down">
      <li><a routerLink="/user/{{user._id}}/edit"><i class="material-icons left">edit</i>Edit</a></li>
      <li><a (click)="logout()"><i class="material-icons left">exit_to_app</i>Logout</a></li>
    </ul>
  </div>
</nav>

<form >
  <h2> Signup </h2>
  <label> Name </label>
  <br>
  <input type="text" [(ngModel)]="formInfo.name" name="name"/>
  <br>
  <label> Lastname </label>
  <br>
  <input type="text" [(ngModel)]="formInfo.lastname" name="lastname"/>
  <br>
  <label> Email </label>
  <br>
  <input type="email" [(ngModel)]="formInfo.email" name="email"/>
  <br>
  <label> Username </label>
  <br>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <br>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  <br>
  <label> Type of van </label>
  <br>
  <input type="text" [(ngModel)]="formInfo.typeOfVan" name="typeOfVan"/>
  <br>
  <label> Location </label>
  <br>
  <input type="text" [(ngModel)]="formInfo.location" name="location"/>
  <br>
<label> Photo:</label>
  <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  <br>
  <button (click)="signup(formInfo)"> signup </button>
</form>
