<div class="siimple-grid center">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--12">
  <img src="../assets/vansandroseslogo3.png" id ="logo" alt="">
  <div class="siimple-h1">Sign up</div>
  <label class="siimple-label">Name</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.name" name="name"/>
  <label class="siimple-label">Lastname</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.lastname" name="lastname"/>
  <label class="siimple-label">Email</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.email" name="email"/>
  <label class="siimple-label">Username</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.username" name="username"/>
  <label class="siimple-label">Password</label><br>
  <input type="password" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.password" name="password"/>
  <label class="siimple-label">Type of van</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.typeOfVan" name="typeOfVan"/>
  <label class="siimple-label">Location</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.location" name="location"/>
  <br>
  <br>
  <div (click)="signup(formInfo)" [routerLink]="['/']" class="siimple-btn siimple-btn--yellow">Sign up</div>
  <div *ngIf="!user"  class="right hide-on-med-and-down">
    <br>
    <br>
  <p>If you are not logged in, Sign up </p>
  <div [routerLink]="['/login']" class="siimple-btn siimple-btn--teal">Log in</div>
</div>
  </div>
</div>
</div>
