
<div *ngIf="!user" [routerLink]="['']">

</div>

<div *ngIf="user">
<label for="show-menu" class="show-menu">Show Menu</label>
    <input type="checkbox" id="show-menu" role="button">
        <ul id="menu" class="center">
        <li><a [routerLink]="['/user/myprofile']">User profile</a></li>
        <li><a [routerLink]="['/home-trips']">Trips</a></li>
        <li><a [routerLink]="['/my-messages']">My messages</a></li>
        <li><div (click)="auth.logout().subscribe()" class="siimple-btn siimple-btn--yellow" [routerLink]="['']">Logout</div></li>
    </ul>
    <div class="siimple-grid center">
      <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--12">
          <br>
      <img src="../assets/vansandroseslogo-bueno2.png" id ="logoalt" alt="">
      <br>
      <br>
    </div>
    </div>
    </div>
    </div>
<router-outlet></router-outlet>
