<div *ngIf="user">
  <div class="siimple-box siimple-box--teal center">
    <h1>User</h1>
  <div  *ngFor="let trip of myTrips">
    <div class="siimple-box siimple-box--white center">
<h1>{{ user.username }}´s profile</h1>
<img src="../assets/vansandroseslogo-profile.png" id ="logo" alt="">
<h2>{{ user.name }} {{ user.lastname }}</h2>
<p>Email: {{ user.email }}</p>
<p>Location: {{ user.location }}</p>
<p>Type of Van: {{ user.typeOfVan }}</p>
  <div [routerLink]="['/new-message', user._id]" class="siimple-btn siimple-btn--teal">Send a message to {{user.username}}</div>
  <br>
  </div>
  <br>
  <br>
  </div>
  </div>
  <br>
  <br>
  <div class="siimple-box center">
    <h1>Trips</h1>
 <div class="" *ngFor="let trip of myTrips">
   <div class="siimple-box siimple-box--white center">
  <p>{{trip.title}}</p>
  <p>{{trip.category}}</p>
  <p>{{trip.description}}</p>
  <p>{{trip.duration}}</p>
  <p>{{trip.location}}</p>
  <p>{{trip.locationOfStart}}</p>
  <p>{{trip.locationOfEnd}}</p>
  <p>{{trip.average}}</p>
  <p>{{trip.quantityReviews}}</p>
  <p>{{trip.duration}}</p>
  <img [src]='trip.image'/>
  <div [routerLink]="['/single', trip._id]" class="siimple-btn siimple-btn--teal">View Details</div>
</div>
<br>
<br>
</div>
</div>
<br>
<br>
<br>
