<div class="siimple-grid center">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--12">
<h1>Itinerary</h1>
<form (ngSubmit)="itinerationform(myForm)" #myForm="ngForm">
  <label class="siimple-label">Title:</label><br>
  <input type="text" name="title" class="siimple-input siimple-input--fluid" [(ngModel)]="title" minlength="6" />

  <label class="siimple-label">Description:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="description" [(ngModel)]="description" required />

  <label class="siimple-label">Localtion of Start:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="locationOfStart" [(ngModel)]="locationOfStart" required />

  <label class="siimple-label">Localtion of End:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="locationOfEnd" [(ngModel)]="locationOfEnd" required />

  <label class="siimple-label">Place to Sleep:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="placeToSleep" [(ngModel)]="placeToSleep" required />

  <label class="siimple-label">Place to Eat:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="placeToEat" [(ngModel)]="placeToEat" required />

  <label class="siimple-label">Washing Place:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="washingPlace" [(ngModel)]="washingPlace" required />

  <label class="siimple-label">Photo:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="photo" [(ngModel)]="photo" />
  <br>
  <br>
  <br>
  <button type="submit" class="siimple-btn siimple-btn--teal">New itinerary</button>
  <br>
  <br>
  <br>
</form>
</div>
</div>
</div>
