<div class="siimple-grid center">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--12">
<h1>Trips</h1>
<div class="siimple-grid">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col-sm--12">
<label class="siimple-label" for="things_name"> Search Category: </label>
<select class="siimple-select" [(ngModel)]="categorySearch">
  <option *ngFor="let option of options"[value]="option">
       {{ option }}
     </option>
  </select>
</div>
<div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col-sm--12">
<label class="siimple-label" for="things_name"> Search Location: </label>
  <select class="siimple-select" [(ngModel)]="locationSearch">
    <option *ngFor="let option of options2"[value]="option">
         {{ option }}
       </option>
    </select>
  </div>

<div>{{locationSearch}}</div>
<div>{{categorySearch}}</div>
</div>
</div>
<br>
<br>

<div *ngFor= "let e of listTrips | searchPipe: categorySearch: locationSearch; let i = index" class="list">
  <div class="siimple-box">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <h2>{{e.title}}</h2>
  <h3>{{e.average}}</h3>
  <h4>Duration: {{e.duration}} days</h4>
  <p>Description: {{e.description}}</p>
  <p>Categoría: {{e.category}} </p>
  <p>Localización: {{e.location}} </p>
  <p>Localización de Salida: {{e.locationOfStart}}</p>
    <p>Localización de llegada: {{e.locationOfEnd}}</p>
    <button [routerLink]="['/user', 'profile', e.creator._id]">Creador: {{e.creator.username}}</button>
</div>
<br>
<br>
</div>
</div>
</div>
</div>
<br>
<br>
