<nav>
  <div>
    <a routerLink="/" class="brand-logo"><img id ="logo"src="../assets/vansandroseslogo.png" alt=""></a>
    <ul *ngIf="!user"  class="right hide-on-med-and-down">

      <li><a [routerLink]="['/signup']">Sign-Up</a></li>
    </ul>
    <ul *ngIf="user"  class="right hide-on-med-and-down">
      <li><a routerLink="/user/{{user._id}}/edit"><i class="material-icons left">edit</i>Edit</a></li>
      <li><a (click)="logout()"><i class="material-icons left">exit_to_app</i>Logout</a></li>
    </ul>
  </div>
</nav>

<div class="siimple-grid">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--11">

  <div class="siimple-h1">Login</div>
  <label class="siimple-label">Username: </label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.username" name="username"/>
  <label class="siimple-label">Password: </label><br>
  <input type="text" class="siimple-input siimple-input--fluid" [(ngModel)]="formInfo.password" name="password"/>
  <br>
  <br>
  <div (click)="login()" class="siimple-btn siimple-btn--teal">Login</div>
  </div>
</div>
</div>
