<div class="siimple-grid center">
  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--12">
<h1>New Trip</h1>

<form (ngSubmit)="tripform(myForm)" #myForm="ngForm">
  <label class="siimple-label">Title:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="title" [(ngModel)]="title" minlength="6" />

  <label class="siimple-label">Description:</label><br>
  <input type="text" class="siimple-input siimple-input--fluid" name="description" [(ngModel)]="description" required />

  <label class="siimple-label">Category:</label><br>
    <select name="category" class="siimple-select siimple-select--fluid" [(ngModel)]="category" required>
      <option selected value="Surf">Surf</option>
      <option value="Snow" >Snow</option>
      <option value="Climbing" >Climbing</option>
      <option value="Trekking" >Trekking</option>
      <option value="Bicycle">Bicycle</option>
      <option value="Gastronomy">Gastronomy</option>
      <option value="Tourism">Tourism</option>
      <option value="Others">Others</option>
    </select>

  <label class="siimple-label">Duration days:</label><br>
  <input type="number" class="siimple-input siimple-input--fluid" name="duration" [(ngModel)]="duration" required />

  <label class="siimple-label"> Location: </label>
    <select name="location" class="siimple-select siimple-select--fluid" [(ngModel)]="location" required>
      <option selected value="Andalucía">Andalucía</option>
      <option value="Aragón" >Aragón</option>
      <option value="Asturias" >Asturias</option>
      <option value="Baleares" >Baleares</option>
      <option value="Canarias">Canarias</option>
      <option value="Cantabria">Cantabria</option>
      <option value="Castilla La Mancha">Castilla La Mancha</option>
      <option value="Cataluña">Cataluña</option>
      <option value="Extremadura">Extremadura</option>
      <option value="Galicia">Galicia</option>
      <option value="La Rioja">La Rioja</option>
      <option value="Región de Murcia">Región de Murcia</option>
      <option value="Comunidad foral de Navarra">Comunidad foral de Navarra</option>
      <option value="País Vasco">País Vasco</option>
      <option value="Comunidad Valenciana">Comunidad Valenciana</option>
      <option value="Ceuta">Ceuta</option>
      <option value="Melilla">Melilla</option>
    </select>

  <label class="siimple-label">Start location:</label><br>
  <input type="number" class="siimple-input siimple-input--fluid" name="locationOfStart" [(ngModel)]="locationOfStart" required />

  <label class="siimple-label">End location:</label><br>
  <input type="number" class="siimple-input siimple-input--fluid" name="locationOfEnd" [(ngModel)]="locationOfEnd" required />

  <label class="siimple-label">Photo:</label><br>
  <input type="file" class="siimple-input siimple-input--fluid" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  <!-- <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" /> -->
  <label class="siimple-label"> Options </label>
    <select name="options" class="siimple-select siimple-select--fluid" [(ngModel)]="options" >
      <option value="animals">Animals</option>
      <option value="kids">Kids</option>
      </select>

  <!-- <label class="siimple-label">Animals:</label>
<div class="siimple-checkbox">
  <input type="checkbox" id="animals" checked>
  <label for="animals"></label>
</div>
<br>

<label class="siimple-label">Kids:</label>
<div class="siimple-checkbox">
<input type="checkbox" id="kids" checked>
<label for="kids"></label>
</div>
<br> -->
  <br>
  <br>
  <button type="submit" class="siimple-btn siimple-btn--teal"> New trip </button>
  <br>
  <br>
  <br>
</form>
</div>
</div>
</div>
